<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017566967165-qvql835t56agu41nvp9l64s6o5hoptk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017566967165-qvql835t56agu41nvp9l64s6o5hoptk9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1017566967165-206qf1lhuabdtumavq71232vcoqanems.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhXmrQGi6MNHh2gtdSqAgLiDlAQfp2JRA</string>
	<key>GCM_SENDER_ID</key>
	<string>1017566967165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aryamandubey.firebaseAttempt</string>
	<key>PROJECT_ID</key>
	<string>setup-11fc6</string>
	<key>STORAGE_BUCKET</key>
	<string>setup-11fc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017566967165:ios:f550ffdad2952c57d40814</string>
</dict>
</plist>